<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>download_delete</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" 
         href="{% static 'style.css' %}">
    </head>
    <body>
        <h1>{{ title }}</h1>
        <table>
            <tr>
                <th>File Name</th>
                <th>Donwload</th>
                <th>Delete</th>
            </tr>
            {% for i in files %}
                <tr>
                    <td>{{ i }}</td>
                    <td>
                        <a href="{% url 'download' path=i %}" class="dl">ダウンロード</a>
                    </td>
                    <td>
                        <a href="{% url 'output_delete' path=i %}" class="delete">削除</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td>ファイルがありません</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
            {% endfor %}
        </table> 
        <p><a href="/">一覧画面に戻る</a></p>
    </body>
</html>
